<form action="/<%= @file_name %>" value="" method="post">
  <label><h3>Edit content of <%= @file_name %>.</h3></label>
  <textarea><%= @content %></textarea>
</form>
<button type="submit">Save Changes</button>
